<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Plotly</title>
        <!--
        <link rel="stylesheet" href=""></link>
        -->
    </head>
    <body>
    <H1>This is one plot</H1>
    {{ plotly_div|safe }}
    <H1>This is another plot</H1>
    {{ plotly2_div|safe }}
    </body>
    <footer>
<!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </footer>
</html>
